
#projects{
  padding: 50px 0;
}
.section-title.projects-title{
  margin-bottom: 0 !important;
}
.project-container{
  position: relative;
  height: 350px;
  background-position: top center;
  transition: all .7s;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.project-box{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--lighting-bg);
  position: absolute;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: all .3s;
}
.project-link-box{
  position: relative;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  padding: 15px;
  background: var(--lighting-bg);
  z-index: 1;
}

.project-link-box::before,
.project-link-box::after{
  content: '';
  width: 0%;
  height: 0%;
  position: absolute;
  border: 3px solid #000;
  transition: all .5s;
  transition-delay: .2s;
  z-index: -1;
}
.project-link-box::before{
  border-right-width: 0px;
  border-top-width: 0px;
  bottom: 0%;
  left: 0%;
}
.project-link-box::after{
  border-left-width: 0px;
  border-bottom-width: 0px;
  top: 0%;
  right: 0%;
}
.project-container:hover .project-box .project-link-box::after,
.project-container:hover .project-box .project-link-box::before{
  width: 105%;
  height: 120%;
}
.project-links-btn{
  display: block !important;
}

/* project short description */
.project-short{
  padding: 15px;
  background: var(--sidebar-bg);
  color: var(--secondary-color);
}
.project-short > *,
.project-short > * > *{
  color: var(--secondary-color);
}

.portfolio-tag{
  display: inline-block;
  margin-bottom: 5px !important;
  font-size: 10px !important;
  margin-right: 3px !important;
}

.project-container:hover{
  background-position: bottom center !important;
}
.project-container:hover .project-box{
  transform: scale(1) !important;
}

/* swiper slider */
.swiper-wrapper{
  max-width: 1000px !important;
  display: flex;
  align-items: stretch !important;
  margin-top: 7px;
}
.swiper-pagination-progressbar-fill{
  background: var(--sidebar-bg) !important;
}
.swiper-pagination-progressbar{
  z-index: 5;
}