#about{
  padding-top: 30px;
}
.about-thumb{
  animation: about-thumb 2s infinite ease running alternate;
}
@keyframes about-thumb {
  from{
    transform: translate(-7px, -7px);
  }
  to{
    transform: translate(7px, 7px);

  }
}
.about-me-text{
  color: var(--primary-color) !important;
  text-align: justify;
}