#skills{
  background: var(--lighting-bg);
  padding: 50px 20px;
  margin-top: 50px;
}
.skill-box{
  border: 1px solid var(--sidebar-color);
  box-shadow: #63636333 0px 2px 8px 0px;
  background: #fff;
  border-radius: 1px;
  padding: 25px;
  transition: all .2s ease;
}
.skill-box:hover{
  box-shadow: #6363631f 2px 5px 12px 10px;
  transform: translateY(-3px);
  cursor: alias;
}

.skill-box > img {
  height: 120px;
  display: block;
  margin: 0 auto;
}

/* responsive skill box */
@media screen and (max-width:667px) {
  .skill-box{
  padding: 15px;
  }
  .skill-box > img {
    height: 90px;
  }
}